{% extends 'adminMenu.html.twig' %}

{% block title %}Edit Lab{% endblock %}

{% block body_id 'lab_editor' %}

{% block header %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block body %}
    <h1>Edit Lab</h1>

    {{ include('lab/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lab_index') }}">back to list</a>

    {{ include('lab/_delete_form.html.twig') }}
{% endblock %}
