{% extends 'admin.html.twig' %}


 {% block header %}
     {{ encore_entry_link_tags('admin') }}
 {% endblock %}




{% block navBar %}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">目录</a>
        </li>
        <li>
            <a href="{{ path('article_index') }}">讯息</a>
        </li>
        <li>
            <a href="{{ path('lab_index') }}">场地</a>
        </li>
    </ul>

{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('admin') }}#}
{#{% endblock %}#}