<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link href="{{ asset('https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('https://cdn.bootcdn.net/ajax/libs/Swiper/6.8.0/swiper-bundle.min.css') }}" rel="stylesheet" />
{#        <link href="{{ asset('/Command/css/common.css') }}" rel="stylesheet" />#}
{#        <link href="{{ asset('/Command/css/base.css') }}" rel="stylesheet" />#}
{#        <link href="{{ asset('/Command/css/template.css') }}" rel="stylesheet" />#}
        <script src="{{ asset('https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js') }}"></script>
        <script src="{{ asset('https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('https://cdn.bootcdn.net/ajax/libs/Swiper/6.8.0/swiper-bundle.min.js') }}"></script>
        <script src="{{ asset('https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js') }}"></script>
{#        <script src="{{ asset('/Command/jQuery/base.js') }}"></script>#}
        {% block header %}{% endblock %}
{#        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>

    {% block navBar %}{% endblock %}
    {% block content %}{% endblock %}

    <div class="container">
        <div class="app">
        {% block body %}{% endblock %}
            <div class="bottom-info">
                <ul>
                    <li>关于我们</li>
                    <li>加入我们</li>
                    <li>使用条款</li>
                    <li>意见建议</li>
                </ul>
                <div class="bottom-info-address">Copyright © 2015 app.art-cloud.com their respective owners
                    课程内容版权均归口可云所有 粤ICP备16092596号
                </div>
            </div>
        {% block footer %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

    </body>
</html>
