{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}

    {% endblock %}


    <div class="top-box">
        <div class="top-left">
            <a href="{{ path('homepage') }}">
                <div class="back-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#898989" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide lab-carousel" data-ride="carousel">
        <ol class="carousel-indicators Indicator-list">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner projectDetail">
            <div class="carousel-item active">
                <img src="{{ asset(equipmentData.deviceImage) }}" alt="">

                <img src="/Command/image/04.webp" alt="">
            </div>
            <div class="carousel-item">
                <img src="/Command/image/05.webp" alt="">
            </div>
            <div class="carousel-item">
                <img src="/Command/image/06.webp" alt="">
            </div>
        </div>
    </div>
    <div class="instruction">
        <div class="instruction-name">{{ equipmentData.deviceTitle }}</div>
        <div class="instruction-content">
            <div class="content-txt">
                {{equipmentData.deviceContent }}
{#                <div class="content-btn">更多</div>#}
            </div>
        </div>
        <div class="instruction-use">
            <div class="use-content">
                <div class="open-time"></div>
                <div class="use">用途：{{ equipmentData.deviceSketch }}</div>
                <div class="res">可预约状态:{{ equipmentData.deviceStatus }}
                    <div class="res-sta"></div>
                </div>
            </div>
        </div>
        <div class="btn">
            <a href="{{ path('equipmentNotice') }}">
                <button>现在预约</button>
            </a>
        </div>
    </div>

{% endblock %}