{% extends 'browserweb.html.twig' %}
{% block body %}
    {% block header %}
    {% endblock %}
    <style>
        .list.lab-com{
            margin-top: 30px;
        }
    </style>
    <div class="back-bg">
        <div class="round-bg"></div>
        <div class="round-min"></div>
        <div class="round-sm"></div>
    </div>
    <div class="top-box">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="top-left lab-top-left">
                <a href="{{ path('projectListsweb') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </a>
                <div class="menu-name lab-text">项目</div>
        </nav>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide lab-carousel lab-carousel-2 lab-carousel-3"
         data-ride="carousel">
        <ol class="carousel-indicators Indicator-list">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner labDetail">
            <div class="carousel-item active">
                <img src="/Command/image/01.webp" alt="">
            </div>
            <div class="carousel-item">
                <img src="/Command/image/02.webp" alt="">
            </div>
            <div class="carousel-item">
                <img src="/Command/image/03.webp" alt="">
            </div>
        </div>
    </div>
    <div class="list lab-com lab-com-work">
        <div class="list-name text-name">{{ projectData.userTitle }}</div>
        <div class="list-info writer">作者：{{ projectData.userName }}
            <div>
                {{ projectData.userContent }}
            </div>
            <div class="info-img">
                <img src="{{ asset( projectData.userImg) }}" alt="">
            </div>
        </div>
    </div>
    <div class="lab-com-work-2">
        <div class="list-name">
            <div class="text-name">
                {{ projectData.userTitle }}
            </div>
            <div class="text-info-2">
                1、详细说明本项目的基本原理及相关技术内容，描述项目的技术或工艺路线、产品结构、基本算法原理等(1000字以内)图示管理。
            </div>
            <div class="text-info-2">
                2、论述项目创新点，包括技术创新、产品结构创新、产品工艺创新、产品性能及使用效果的显著变化等。(1000字以内)
            </div>
        </div>
        <div class="list-info writer">
            {# 作者：{{ workData.userName }} #}
            <div class="list-info-box">
                <div class="list-info-title">
                    项目的技术 创新性论述
                </div>
                <div class="info-img">
                    <img class="auto-img" src="{{ asset(projectData.userImg) }}" alt="">
                </div>
            </div>
            <div class="list-box-info">
                {{ projectData.userContent }}
            </div>
        </div>
    </div>

{% endblock %}